.animated_badge_svg {
  display: block;
  position: relative;
}

.badge_ribbon {
  opacity: 0;
  transform: translate(-5px, -10px) rotate(75deg) scale(0.5);
  transform-origin: center;
  animation: badge-ribbon-left-animation 1s 0.5s ease forwards;
  will-change: transform, opacity;
}
.badge_ribbon.right {
  opacity: 0;
  transform: translate(5px, -10px) rotate(-75deg) scale(0.5);
  transform-origin: center;
  animation: badge-ribbon-right-animation 1s 0.5s ease forwards;
  will-change: transform, opacity;
}

@keyframes badge-circle-animation {
  0% {
    opacity: 0;
    transform: translateY(-6px) scale(0.5);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
@keyframes badge-ribbon-left-animation {
  0% {
    opacity: 0;
    transform: translate(-5px, -10px) rotate(75deg) scale(0.5);
  }
  
  100% {
    opacity: 1;
    transform: translate(0) rotate(0deg) scale(1);
  }
}
@keyframes badge-ribbon-right-animation {
  0% {
    opacity: 0;
    transform: translate(5px, -10px) rotate(-75deg) scale(0.5);
  }
  
  100% {
    opacity: 1;
    transform: translate(0) rotate(0deg) scale(1);
  }
}
